{
  admin off
}

:80 {
  # Reverse proxy API endpoints
  handle /api/* {
    reverse_proxy api:3000
  }

  # Documentation / Swagger
  handle /docs* {
    reverse_proxy api:3000
  }

  # Static Web App & PWA
  handle {
    root * /srv/web
    encode gzip zstd
    try_files {path} /index.html
    file_server
  }
}
